<article class="post-list">
    <a class="post-list-link" href="{{url}}">
        <div class="post-list-content">
            <h2 class="post-list-title">{{@number}}. {{title}} {{#if primary_tag}}<span>({{primary_tag.name}})</span>{{/if}}</h2>
            <p>{{excerpt words="30"}}</p>
        </div>
    </a>
</article>
